/*!!!
section: Examples
title: background-size cover fix for IE
description: "Fix for background-size: cover; and background-size: contain; for IE. Everywhere you use background-size in your CSS, add  the property -ms-behavior pointing to url(./js/backgroundsize.min.htc); (i.e. -ms-behavior: url(./js/backgroundsize.min.htc);)"
jade: |
  .imageCover(style="background-image: url('http://placehold.it/200x200/&text=cssexy'); height: 200px; -ms-behavior: url(./js/backgroundsize.min.htc)")
*/


/*!!!
section: Examples
title: box-sizing border-box fix for IE
description: "Fix for box-sizing border-box for IE. Everywhere you use box-sizing in your CSS, add  the property *behavior pointing to url(./js/boxsizing.htc); (i.e. *behavior: url (./js/boxsizing.htc);). If you prefix the behavior property with a star, like seen above, it will only be seen by IE6 & IE7, not by IE8+ (it's a hack) which is better for the performance on those newer browsers."
jade: |
  .div(style="box-sizing: border-box; behavior: url(./js/boxsizing.htc);") I have a border-box property set
*/
