/*!!!
section: Mixins
title: +replicate(selector)
description: The replicate function allows you to loop through a selector and create all the breakpoint specific modifiers for that selector automatically.
*/
replicate(selector)
  {selector}
    {block}
  for key, value in breakpoints
    @media value.breakpoint
      {selector}--{key}
        {block}

/*!!!
section: Mixins
title: +media(breakpoint) 
description: To style elements at different screen sizes we use a function [i.e. +media(large)] to call the media query and pass to it a block with the new styling.
*/
media(bp)
  for key, value in breakpoints
    if key == bp
      @media value.breakpoint
        {block}

/*!!!
section: Mixins
title: clearfix()
description: General clearfix helper based on the micro-clearfix solution.
*/
clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both
