html, body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  background: grey-lighter

[data-sr]
  visibility: hidden

// apply border-box to all the things
*, *:before, *:after
  box-sizing: border-box

// ensure all html5 elements are set to block (for IE)
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
  display: block

img
  max-width: 100%

/*!!!
section: Scaffolding
title: .container
description: The `.container` enforces the max-width of the site on its children.
jade: .container lorem5
*/
.container
  margin: 0 auto
  max-width: site-width 
  padding: 0 16px
  position: relative

.siteWrapper
  min-height: 100%
  position: relative

.siteHeader
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 2

.siteBody
  padding-top: header-height + size[5]
  padding-bottom: footer-height 

.siteBody--white
  background: white

.siteBody-sidebar
  width: sidebar-width
  display: table-cell
  @media breakpoints.portable.breakpoint
    width: auto

.sidebar
  position: fixed
  top: header-height 
  width: sidebar-width 
  bottom: footer-height 
  overflow-y: auto
  margin: 0
  margin-left: size[6] * -1
  @media breakpoints.portable.breakpoint
    display: none

.sidebar-footer
  @media breakpoints.portable.breakpoint
    display: none

.siteBody-content
  display: table-cell
  @media breakpoints.portable.breakpoint
    padding-left: 0
    display: block

.siteFooter
  position: absolute
  bottom: 0
  left: 0
  right: 0

/*!!!
section: Scaffolding
title: .grid
description: |
  The grid system is inspired by the [CSS Wizardry Grid](https://github.com/csswizardry/csswizardry-grids). The following changes have been made:

  - now adheres to the TWG naming convention
  - flexible gutter sizes based on the breakpoint
  - no markup fix or word-spacing fix needed
  - includes the `large` breakpoint
  - more granularity (ie. .grid-3of11 is now possible)
  - variable number of columns (ie. 16 column grids now possible)
jade: |
  .grid.grid--middle.grid--rev.u-spacer2
    - for(var i=1; i<=3; i++)
      .grid-1of4.grid-1of2--portable
        .guidedog grid #{i}
    .grid-1of4.grid-1of2--portable
      .guidedog lorem2
*/
.grid
  font-size: 0
  > *
    font-size: base-font-size
    display: inline-block
    vertical-align: top
  for key, value in breakpoints
    @media value.breakpoint
      margin-left: value.gutter * -1
      > *
        padding-left: value.gutter

// define grid items
for column in (1..grid-columns)
  for num in (1..column)
    .grid-{num}of{column}
      width: (num/column) * 100%

// define breakpoint grid items
for key, value in breakpoints
  @media value.breakpoint
    for column in (1..grid-columns)
      for num in (1..column)
        .grid-{num}of{column}--{key}
          width: (num/column) * 100%

// grid modifiers
+replicate('.grid--middle')
  > *
    vertical-align: middle

+replicate('.grid--bottom')
  > *
    vertical-align: bottom

+replicate('.grid--center')
  text-align: center
  > *
    text-align: left

+replicate('.grid--rev')
  direction rtl
  text-align left
  > *
    direction ltr
    text-align left

/*!!!
section: Scaffolding
title: .combo
jade: |
  .combo
    .combo-first
      .guidedog Combo First
    .combo-last
      .guidedog lorem5
*/
.combo
  display: table
  width: 100%
  > .combo-first
    width: 0
    white-space: nowrap
    img
      max-width: none
  > .combo-last
    width: 100%

.combo-first, .combo-last
  display: table-cell
  vertical-align: top

for key, value in breakpoints
  @media value.breakpoint
    .combo-first
      padding-right: (value.gutter / 2)
    .combo-last
      padding-left: (value.gutter / 2)

+replicate('.combo--middle')
  > *
    vertical-align: middle

+replicate('.combo--bottom')
  > *
    vertical-align: bottom

+replicate('.combo--rev')
  > .combo-first
    width: 100%
    white-space: normal
  > .combo-last
    width: 0
    white-space: nowrap
    img
      max-width: none

+replicate('.combo--full')
  > .combo-first
    padding-right: 0
  > .combo-last
    padding-left: 0

+replicate('.combo--narrow')
  > .combo-first
    padding-right: (value.gutter / 4)
  > .combo-last
    padding-left: (value.gutter / 4)
