body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: base-font-size 

/*!!!
section: Typography
title: strong
description: Use to change font weight to 'bold'
jade: strong lorem5
*/
strong
  font-weight: 700

/*!!!
section: Typography
title: em & i
description: Use "em" to emphasize by italizing and use "i" to italize without emphasizing
jade: |
  p
    em lorem5
  p
    i lorem5
*/
em
  font-style: italic
i
  font-style: italic
