/*!!!
section: Utilities
title: .u-spacerX
description: When possible all spacing [should go only down](http://csswizardry.com/2012/06/single-direction-margin-declarations/) and not up.
jade: |
  - for(var i=1; i<=5; i++)
    div(class="guidedog u-spacer"+i) u-spacer#{i}
*/
for num in (1..5)
  +replicate(s('.u-spacerWrap%s', num))
    margin-bottom: size(num) * -1
  +replicate(s('.u-spacer%s', num))
    margin-bottom: size(num)

/*!!!
section: Utilities
title: .u-paddingX
description: Utility for Padding all around using size() method
jade: |
  - for(var i=1; i<=5; i++)
    div(class="guidedog u-padding"+i) u-padding#{i}
*/
for num in (1..5)
  +replicate(s('.u-padding%s', num))
    padding: size(num)

 /*!!!
section: Utilities
title: .u-alignLeft
description: Use to align text to center
jade: .u-alignLeft lorem5
*/
+replicate('.u-alignLeft')
	text-align: left

/*!!!
section: Utilities
title: .u-alignCenter
description: Use to align text to center
jade: .u-alignCenter lorem5
*/
+replicate('.u-alignCenter')
	text-align: center

/*!!!
section: Utilities
title: .u-alignRight
description: Use to align text to the right
jade: .u-alignRight lorem5
*/
+replicate('.u-alignRight')
	text-align: right

/*!!!
section: Utilities
title: .u-block
jade: .u-block Block Element
*/
+replicate('.u-block')
	display: block

/*!!!
section: Utilities
title: .u-inlineBlock
jade: .u-inlineBlock Inline-Block Element
*/
+replicate('.u-inlineBlock')
	display: inline-block

/*!!!
section: Utilities
title: .u-relative
description: Set position relative on an element.
jade: .u-relative Position Relative
*/
+replicate('.u-relative')
  position: relative

/*!!!
section: Utilities
title: .u-wide
description: Sets an element's width to 100%
jade: .u-wide Wide
*/
+replicate('.u-wide')
  width: 100%

/*!!!
section: Utilities
title: .u-clearfix
description: General clearfix helper.
jade: .u-clearfix Clearfix
*/
.u-clearfix
  &:after
    content: "";
    display: table;
    clear: both;
