/*!!!
 * section: Colours
 * swatches: [{name: primaryColor, value: "#01658F"}, {name: secondaryColor, value: "#6FC162"}, {name: greyColor, value: "#cccccc"}, {name: lightGreyColor, value: "#eeeeee"}, {name: textColor, value: "white"}, {name: noticeColor, value: "#5BC0DE"}, {name: successColor, value: "#5CB85C"}, {name: errorColor, value: "#D9534F"}, {name: warningColor, value: "#F0AD4E"}]
 */
primaryColor = #01658F
secondaryColor = #6FC162
greyColor = #ccc
lightGreyColor = #eee
textColor = white
noticeColor = #5BC0DE
successColor = #5CB85C
errorColor = #D9534F
warningColor = #F0AD4E

bounce = cubic-bezier(0.145, 0.420, 0.425, 1.650)
bounceOut = cubic-bezier(.5, -0.85, .73, .52)

radius = 3px
primaryNavWidth = 100px
secondaryNavWidth = 200px

//primaryColor = black 
//secondaryColor = black 

clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

/*!!!
 * section: Grid
 * description: The grid system used for Urban Adventures is a modified version of the [CSS Wizardry Grid](https://github.com/csswizardry/csswizardry-grids). The updated grid includes one additional breakpoint named "large".
 * example: |
 *   <div class="grid">
 *     <div class="grid__item one-third"><div class="card">Palm</div></div>
 *     <div class="grid__item one-third"><div class="card">Lap</div></div>
 *     <div class="grid__item one-third"><div class="card">Desk</div></div>
 *   </div>
 *   <div class="grid">
 *     <div class="grid__item two-thirds"><div class="card">Portable</div></div>
 *   </div>
 *   <div class="grid">
 *     <div class="grid__item one-third"></div>
 *     <div class="grid__item two-thirds"><div class="card">Large</div></div>
 *   </div>
 */

// breakpoints
palmBreakpoint = "(max-width: 480px)"
lapBreakpoint = "(min-width: 481px) and (max-width: 1023px)"
deskBreakpoint = "(min-width: 1024px)"
portableBreakpoint = "(max-width: 1023px)"
largeBreakpoint = "(min-width: 481px)"
