primaryColor = #01658F
secondaryColor = #6FC162
primaryColor = black 
secondaryColor = black 
textColor = white
alertColor = #E30000
bounce = cubic-bezier(0.145, 0.420, 0.425, 1.650)
radius = 3px

primaryNavWidth = 100px
secondaryNavWidth = 200px

@keyframes scaleIn
  from
    transform scale(0)
  to
    transform scale(1)

@keyframes strobe
  0%
    opacity 1
  100%
    opacity 0.6
