/*!!!
section: Buttons
title: .button
jade: a.button(href='#') Button
*/
.button
  transition all 0.2s ease-in-out
  display inline-block
  padding 10px
  text-decoration none
  background primary-color
  color white
  text-align center
  border-radius radius
  cursor: pointer
  box-shadow 0 4px 4px rgba(black, 0.3)
  &:hover
    box-shadow 0 0 0 rgba(black, 0.0)
    background darken(primary-color, 3)
  + .button
    margin-left: 12px
  i
    margin-right: 10px
  /*!!!
  section: Buttons
  title: .button--secondary
  jade: a.button.button--secondary(href='#') Secondary Button
  */
  &.button--secondary
    color: black
    background: lighter-grey
    border-bottom-color: light-grey
