/*!!!
 * title: Button (default)
 * section: Buttons
 * example: <a href="#" class="button">Button</a>
 */
.button
  transition all 0.2s ease-in-out
  display inline-block
  padding 10px
  text-decoration none
  background primaryColor
  color white
  text-align center
  border-radius radius
  cursor: pointer
  box-shadow 0 4px 4px rgba(black, 0.3)
  &:hover
    box-shadow 0 0 0 rgba(black, 0.0)
    background darken(primaryColor, 3)
  + .button
    margin-left: 12px
  i
    margin-right: 10px
  /*!!!
   * title: Secondary Button
   * section: Buttons
   * example: <a href="#" class="secondary button">Secondary Button</a>
   */
  &.secondary
    color: black
    background: lighterGrey
    border-bottom-color: lightGrey
