/*!!!
 * title: Button (default)
 * section: Buttons
 * example: <a href="#" class="button">Button</a>
 */
.button
  transition all 0.15s ease-in-out
  box-shadow 0 5px 5px rgba(black, 0.2)
  display inline-block
  padding 10px
  text-decoration none
  background primaryColor
  color textColor
  text-align center
  border-top 0 solid white 
  border-bottom 2px solid darken(primaryColor, 10)
  opacity 0.9
  border-radius radius
  margin-bottom: 10px
  &:hover
    opacity 1
    box-shadow 0 5px 0px rgba(black, 0)
    border-top-width 2px
    border-bottom-width 0px
  i
    margin-right: 10px
  /*!!!
   * title: Secondary Button
   * section: Buttons
   * example: <a href="#" class="secondary button">Secondary Button</a>
   */
  &.secondary
    color: black
    background: greyColor
    border-bottom-color: darken(greyColor, 10)
