/*!!!
section: Card
jade: |
  .cards
    .card Card
    .card Card
*/
.card
  border 1px solid lighterGrey
  padding 20px
  position relative
  border-radius radius
  margin-bottom: 20px
  background: white
  &.padded
    padding: 30px
  &.centered
    text-align: center
 
.cards
  margin-bottom: -20px
