/*!!!
 * section: Card
 * example: |
 *   <div class="cards">
 *     <div class="card">Card</div>
 *     <div class="card">Card</div>
 *   </div>
 */
.card
  border 1px solid greyColor
  padding 20px
  position relative
  border-radius radius
  margin-bottom: 20px
 
.cards
  margin-bottom: -20px
