/*!!!
section: Card
jade: |
  .cards
    .card Card
    .card Card
*/
.cards
  margin-bottom: -20px

.card
  border 1px solid lighter-grey
  padding 20px
  position relative
  border-radius radius
  margin-bottom: 20px
  background: white

.card--padded
  padding: 30px

.card--centered
  text-align: center
