/*!!!
 * section: Dropzone
 * description: A general asset upload area. Supports either drag & drop or the more traditional upload button (and corresponding file system navigation).
 * example: |
 *   <div class="dropzone">
 *     Drag and drop your file here or <a href="#">browse</a>.
 *   </div>
 */

.dropzone
  border: 2px dashed primaryColor
  padding: 60px 30px
  border-radius: radius
  text-align: center
