.form-group
  display: block
  margin-bottom: 25px
  position: relative
  padding-top: 13px
  &.large
    input[type='text'],
    input[type='password'],
    textarea
      font-size: 3em
  input[type='text'],
  input[type='password'],
  textarea
    font-size: 2em
  &.small
    padding-top: 15px
    input[type='text'],
    input[type='password'],
    textarea
      font-size: 1.3em
  &.error
    label
      color: alertColor !important
    input[type='text'],
    input[type='password'],
    textarea
      color: alertColor
      border-bottom-color: alertColor

.form-error
  color: alertColor
  margin-top: 2px

label
  font-size: 12px 
  color: greyColor
  position: absolute
  top: 0
  left: 0
  transition: color 0.2s ease-in-out

input[type='text'],
input[type='password'],
textarea
  display: block
  width: 100%
  border: 0
  outline: none
  border-bottom: 1px solid greyColor
  transition border-bottom-color 0.2s ease-in-out
  resize: none
  &:focus
    border-bottom-color: primaryColor
    + label
      color: primaryColor

::-webkit-input-placeholder
  color: lightGreyColor

:-moz-placeholder
  color: lightGreyColor 

::-moz-placeholder
  color: lightGreyColor

:-ms-input-placeholder
  color: lightGreyColor
