/*!!!
 * section: Link
 * example: <a href="#" class="link">Link</a>
 */

a
  color primaryColor

.site-body a:not([class]), .link
  position: relative
  text-decoration none
  &:before, &:after
    content ''
    position absolute
    bottom -2px 
    left 0
    height 2px
    width 100% 
    background primaryColor
    z-index -1
    opacity 0.2
  &:after
    opacity 1
    transform scaleX(0)
    transition all 0.2s ease-in-out
  &:hover
    &:after
      transform scaleX(1)
