/*!!!
section: Page Section
description: Page sections should encompass specific and distinct parts of the page. Multiple page sections can be wrapped with the .page-sections container to ensure they do not create any unecessary spacing.
jade: |
  .page-sections
    - for(var i=0; i<5; i++)
      .page-section Page Section
*/

.page-sections
  margin-bottom: -50px

.page-section
  margin-bottom 50px
