/*!!!
section: Page Section
description: Page sections should encompass specific and distinct parts of the page. Multiple page sections can be wrapped with the .pageSections container to ensure they do not create any unecessary spacing.
jade: |
  .pageSections
    - for(var i=0; i<5; i++)
      .pageSection Page Section
*/

.pageSections
  margin-bottom: -50px

.pageSection
  margin-bottom 50px
