/*!!!
section: Progress
title: Default Progress
html: <progress value="45" max="100">75</progress>
*/
progress
  display: block
  width: 100%
  background: none
  height: 30px
  background: white
  border: 2px solid primary-color
  border-radius: radius
  -webkit-appearance: none

progress::-webkit-progress-bar
  background: white

progress::-webkit-progress-value
  background-color: primary-color

progress::-moz-progress-bar
  background-color: primary-color

/*!!!
section: Progress
title: Striped Progress
html: <progress class="progress--striped" value="75" max="100">75</progress>
*/
progress.progress--striped::-webkit-progress-value
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .10) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .10) 50%, rgba(255, 255, 255, .10) 75%, transparent 75%, transparent); 
  animation: animate-stripes 3s linear infinite;

progress.progress--striped::-moz-progress-bar
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .10) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .10) 50%, rgba(255, 255, 255, .10) 75%, transparent 75%, transparent); 
  animation: animate-stripes 3s linear infinite;

@keyframes animate-stripes
  0% 
    background-position: 0 0
  100% 
    background-position: 60px 0
