.site-body
  position fixed
  top 0
  left 0
  height 100%
  width 100%
  z-index 2
  overflow-y auto
  padding 25px
  padding-left secondaryNavWidth + primaryNavWidth + 25
  &.plain
    margin: 0 auto
    padding: 20px
    position: relative
    max-width: 600px

.plain-spacer
  &:before
    content: ''
    display: block
    padding-top: 25%
    @media palmBreakpoint
      padding-top: 0 

.site-background
  position: absolute
  z-index: 1
  left: 0
  right: 0
  top: 0
  bottom: 0
  width: 100%
  height: 100%
