.site-body
  position fixed
  top 0 
  left 0
  height 100%
  width 100%
  z-index 2
  overflow-y auto
  padding-left secondary-nav-width + primary-nav-width

body.plain
  background-color: primaryColor
  background-image: linear-gradient(lighten(primaryColor, 10), primaryColor)
  background-size: cover
  background-repeat: no-repeat
  padding: 0 15px
  &:before
    content: ''
    display: block
    padding-top: 10%
  .site-body
    @extend .card
    @extend .fadeInDown
    position: static
    width: auto
    height: auto
    overflow: visible
    padding: 30px 
    max-width: 600px
    margin: 0 auto
    margin-bottom: 15px
    text-align: center
    box-shadow: 0 0 50px rgba(black, 0.25)

.site-body-inner
  padding: 25px

.plain-spacer
  &:before
    content: ''
    display: block
    padding-top: 25%
    @media breakpoints.palm.breakpoint
      padding-top: 0 
