/*!!!
 * section: Spinner
 * example: <div class="spinner"></div>
 */

.spinner
  padding: 30px
  display: inline-block
  border-radius: radius
  margin: 0 auto
  background primaryColor
  &:before
    content: ''
    display: block
    width: 60px
    height: 60px
    margin: auto
    background-color: textColor
    animation: rotateplane 1.2s infinite ease-in-out
  &:after
    margin-top: 20px
    font-size: 14px
    color textColor
    content: 'loading...'
    display: block
    text-align: center

@keyframes rotateplane 
  0%  
    transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  50%  
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  100%  
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
