/*!!!
 * title: Sqaure
 * section: Helpers
 * description: Helper that maintains a square shaped aspect ratio as it scales
 * example: <div class="sqaure"></div>
 */
.square
  position relative
  > *
    position absolute
    top 0
    left 0
    bottom 0
    right 0
  &:before
    content ''
    display block
    padding-top 100%
