/*!!!
 * section: Table
 * example: |
 *   <table cellspacing='0'>
 *     <thead>
 *       <tr>
 *         <th>Name</th>
 *         <th>Email</th>
 *         <th>Actions</th>
 *       </tr>
 *     </thead>
 *     <tbody>
 *       <tr>
 *         <td>Jane Doe</td>
 *         <td>jane@gmail.com</td>
 *         <td>Edit</td>
 *       </tr>
 *       <tr>
 *         <td>John Smith</td>
 *         <td>John@gmail.com</td>
 *         <td>Edit</td>
 *       </tr>
 *     </tbody>
 *   </table>
 */
table
  width 100%
  text-align left
  td, th
    padding 15px 5px
    border-bottom: 1px solid lightestGrey

childIndent = 20px
for child in (0..10)
  .table-child-{child}
    td:first-child
      padding-left: childIndent * child
      position: relative
      &:before, &:after
        position: absolute
        content: ''
        display: block
        width: 2px
        background: lighterGrey 
        top: 0
        bottom: 50%
        left: childIndent * (child - 1) 
      &:after
        top: 50%
        bottom: auto
        height: 2px
        width: 10px 
    &+ .table-child-{child}
      td:first-child
        &:before
          top: -50%


.table-child-0
  td:first-child
    &:before, &:after
      display: none
