/*!!!
 * section: Table
 * example: |
 *   <table cellspacing='0'>
 *     <thead>
 *       <tr>
 *         <th>Name</th>
 *         <th>Email</th>
 *         <th>Actions</th>
 *       </tr>
 *     </thead>
 *     <tbody>
 *       <tr>
 *         <td>Jane Doe</td>
 *         <td>jane@gmail.com</td>
 *         <td>Edit</td>
 *       </tr>
 *       <tr>
 *         <td>John Smith</td>
 *         <td>John@gmail.com</td>
 *         <td>Edit</td>
 *       </tr>
 *     </tbody>
 *   </table>
 */
table
  width 100%
  text-align left
  td, th
    padding 15px 5px
    border-bottom 1px solid #eee
