extends _layout
block content
  header.page-header 
    .combo.combo-rev.combo-middle
      .combo-first
        h1 Edit Page
      .combo-last
          select
            option EN
            option FR

  .grid
    .grid__item.two-thirds.portable--one-whole

      .form-group.large
        input(type='text', placeholder='Life on the Edge')
        label Main Title

      ul.tab-trigger
        li.active Ledes
        li Body
        li Blocks

      ul.tab-content
        li.active
          form
            .form-group
              input(type='text', placeholder="Old school barber shop. Mad skillz since '97")
              label Short Lede (~15 words)

            .form-group.small
              textarea(placeholder="We've been in business since 1997. Since then we've given 1000's of satisfied customers amazing hair styles. Our team of 15 barbers have more than 223 years of experience collectively. Hot damn!")
              label Long Lede (~100 words)

        li
          .form-group
            textarea
            label Body

    .grid__item.one-third.portable--one-whole
      .card
        form
          .form-group.small
            .combo.combo-full
              .combo-first
                .form-cap cuttingedge.com/ 
              .combo-last
                input(type='text', placeholder='about-us')
                label Slug

          .form-group.small
            select
              option Main Page (no parent)
              option Contact Us
              option FAQ
            label Parent

          .form-group.small
            select
              option Draft
              option Publish
              option Trash
            label Status

          .form-group.small
            select
              option Latest
              option August 12th
              option August 9th
            label Version

      .grid.grid--narrow
        .grid__item.one-half
          a.wide.secondary.button(href='#') 
            i.fa.fa-eye
            | Preview
        .grid__item.one-half
          a.wide.button(href='#') 
            i.fa.fa-save
            | Save 
