extends _layout
block content
  header.pageHeader 
    h1 Edit Page

  .grid
    .grid-2of3.grid-1-1--portable

      .form-group.large
        input(type='text', placeholder='Life on the Edge')
        label Main Title

      ul.tab-trigger
        li.active Ledes
        li Body
        li Blocks

      ul.tab-content
        li.active
          form
            .form-group
              input(type='text', placeholder="Old school barber shop. Mad skillz since '97")
              label Short Lede (~15 words)

            .form-group.small
              textarea(placeholder="We've been in business since 1997. Since then we've given 1000's of satisfied customers amazing hair styles. Our team of 15 barbers have more than 223 years of experience collectively. Hot damn!")
              label Long Lede (~100 words)

        li
          .form-group
            textarea
            label Body

      .card
        .spacer
          ul.tags
            - for(var i = 0; i<10; i++)
              li.tag 
                | single tag
                i.fa.fa-times


        .grid.grid--wide.grid--bottom
          .grid-2of3
            .form-groups
              .form-group
                select
                  option select a tag
                  option Popular
                  option On Sale
                label Add an existing tag
          .grid-1of3
            a.wide.button--secondary.button Add a new tag

        .spacer
        .grid.grid--wide.grid--bottom
          .grid-2of3
            .form-groups
              .form-group
                input(type='text', placeholder='modern')
                label Add a new tag
          .grid-1of3
            .grid.grid--narrow
              .grid-1of2
                a.wide.button--secondary.button Cancel
              .grid-1of2
                a.wide.button Add tag

    .grid-1of3.grid-1of1--portable
      .sticky
        .card
          form
            .form-group.small
              .combo.combo-full
                .combo-first
                  .form-cap cuttingedge.com/ 
                .combo-last
                  input(type='text', placeholder='about-us')
                  label Slug

            .form-group.small
              select
                option Main Page (no parent)
                option Contact Us
                option FAQ
              label Parent

            .form-group.small
              select
                option Draft
                option Publish
                option Trash
              label Status

            .form-group.small
              select
                option Latest
                option August 12th
                option August 9th
              label Version

        .grid
          .grid-1of2
            a.wide.button--secondary.button(href='#') 
              i.fa.fa-eye
              | Preview
          .grid-1of2
            a.wide.button(href='#') 
              i.fa.fa-save
              | Save 
