extends _layout
block content
  header.page-header
    h1 Articles

  .page-sections
    .page-section
      .card
        .form-groups.inline
          .form-group.small
            select
              option All Authors
              option Mark Appleby
              option Jane Doe
            label Filter by Author
          .form-group.small
            select
              option All Authors
              option Mark Appleby
              option Jane Doe
            label Filter by Author
          .form-group.small
            input(type='text', placeholder='Splitting Hairs')
            label Filter by Name
          .form-group.small
            a.secondary.button(href='#') Filter

      table
        thead
          tr
            th Title
            th Description
            th Status
            th Author
            th Created
            th Updated
            th Actions
        tbody
          - for(var i=0; i<=4; i++)
            tr(class="table-child table-child-#{i}")
              td 
                a.link(href="/edit.html") Splitting Hairs
                br
                small /splitting-hairs
              td How the haircutting industry has evolved
              td Published
              td Mark Appleby
              td Today at 2:50 PM
              td Today at 2:50 PM
              td 
                a.link(href="/edit.html") Edit
          - for(var i=0; i<=2; i++)
            tr(class="table-child table-child-4")
              td 
                a.link(href="/edit.html") Splitting Hairs
                br
                small /splitting-hairs
              td How the haircutting industry has evolved
              td Published
              td Mark Appleby
              td Today at 2:50 PM
              td Today at 2:50 PM
              td 
                a.link(href="/edit.html") Edit
          tr(class="table-child table-child-3")
            td 
              a.link(href="/edit.html") Splitting Hairs
              br
              small /splitting-hairs
            td How the haircutting industry has evolved
            td Published
            td Mark Appleby
            td Today at 2:50 PM
            td Today at 2:50 PM
            td 
              a.link(href="/edit.html") Edit
