doctype html 
html
  head
    link(href='css/vendor.css', rel='stylesheet')
    script(src='js/vendor.min.js', type='text/javascript')

    link(href='css/resin.css', rel='stylesheet')
    script(src='js/resin.min.js', type='text/javascript')
  body.plain
    .site-body
      img(src='img/logo.jpg')
      form
        .form-group
          input(type='text', id='email', placeholder='jane@gmail.com')
          label(for='email') Email
        .form-group
          input(type='password', id='password')
          label(for='password') Password

        .form-group
          a.wide.button(href='/index.html') Login

        .form-group
          .grid
            .grid__item.one-half.palm--one-whole.palm--spacer
              a.link(href='#') What is this?
            .grid__item.one-half.palm--one-whole
              a.link(href='#') Forgot password?
